# Where-directories
data/
work/
publish/
config/*_local.conf
external/gpt2w/src/
external/iers/src_2010/
external/sofa/doc/
external/sofa/src/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C/Cython extensions
*.so
*.c
*.o
# *.html

# Distribution / packaging
*.egg-info/

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Spyder project settings
.spyderproject
.spyproject

# mypy
.mypy_cache/
