# Where-directories
data/
work/
publish/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C/Cython extensions
*.so
*.c
*.o

# Distribution / packaging
*.egg-info/

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Spyder project settings
.spyderproject
.spyproject

# Eclipse project settings
.pydevproject
.project

# mypy
.mypy_cache/
