# Byte-compiled / optimized / DLL files
__pycache__/
build
*.py[cod]

# C/Cython extensions
*.so
*.c
*.o

# Latex extensions
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.log
*.run.xml
*.out
*.toc
*.synctex.gz

# Distribution / packaging
*.egg-info/

# Local config files
*_local.conf

# Cython html files
where/integrators/*.html
where/models/orbit/*.html

# External libraries source
external/gl_library/
external/gpt2w/src/
external/iers/hfeop/
external/iers/src_2010/
external/sofa/00READ.ME
external/sofa/doc/
external/sofa/src/

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Spyder project settings
.spyderproject
.spyproject

# Eclipse project settings
.pydevproject
.project
.settings

# mypy
.mypy_cache/

# website
documents/website/pelican-plugins
documents/website/output
