# This is your personal There configuration file. Any settings here will
# override the same settings in the main There configuration file
# (there.conf). If you want to change any configuration settings in There, you
# should do it here. Changes in the main configuration file will be overwritten
# when you update Where or There.
#
# This file should be named there_local.conf. There will first look for this
# file in the current directory, then in the where/config directory.


